body{
  background-color: #7A7D7D;
}
h1{
  color: BLACK;
  text-align: center;
  font-size: 90px;
  letter-spacing: 5px;
  text-shadow: 7px 1px #D0CFCF;
  font-family: Times new roman;
}
p{
  text-align: center;
  color: #FFFFFF;
  font-size: 50px;
  letter-spacing: 3px;
  background: #565254;
}
ul {
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: white;
  position: fixed;
}
li {
  display: inline;
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 23px;
  color: #565254;
  font-family: Times new roman;
}
  
